<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="padding-bottom: 5px !important">
                    <div >
                        <h5 class="pb-2">طالب جديد</h5>
                       <span> يرجى ملئ جميع الخانات </span>
                    </div>
                    <ng-template>
                    </ng-template>
                </div>
                <div class="card-body">
                    <form class="needs-validation" autocomplete="off" 
                    [formGroup] = "StudentForm"
                    (ngSubmit)="onSubmit()" 
                    novalidate>
                        <div class="form-row">
                            <!-- First Name  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> الاسم الاول</label>
                                <input class="form-control" id="validation01" type="text" formControlName="FirstName"
                                [tooltip]="fc.FirstName.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.FirstName.valid && (fc.FirstName.touched)"
                                [class.is-invalid]="fc.FirstName.invalid && (fc.FirstName.touched)"
                                     required
                                     placeholder="الاسم الاول"/>
                            </div>
                            <!-- Second Name  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> الاسم الثاني</label>
                                <input class="form-control" id="validation01" type="text" formControlName="SecondName"
                                [tooltip]="fc.SecondName.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.SecondName.valid && (fc.SecondName.touched)"
                                [class.is-invalid]="fc.SecondName.invalid && (fc.SecondName.touched)"
                                     required
                                     placeholder="الاسم الثاني"/>
                            </div>
                            <!-- Third Name  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> الاسم الثالث</label>
                                <input class="form-control" id="validation01" type="text" formControlName="ThirdName"
                                [tooltip]="fc.ThirdName.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.ThirdName.valid && (fc.ThirdName.touched)"
                                [class.is-invalid]="fc.ThirdName.invalid && (fc.ThirdName.touched)"
                                     required
                                     placeholder="الاسم الثالث"/>
                            </div>
                            <!-- Fourth Name  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> الاسم الرابع</label>
                                <input class="form-control" id="validation01" type="text" formControlName="FourthName"
                                [tooltip]="fc.FourthName.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.FourthName.valid && (fc.FourthName.touched)"
                                [class.is-invalid]="fc.FourthName.invalid && (fc.FourthName.touched)"
                                     required
                                     placeholder="الاسم الرابع"/>
                            </div>
                            <!-- Phone NUmber  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> رقم الهاتف</label>
                                <input class="form-control" id="validation01" type="text" formControlName="PhoneNumber"
                                [tooltip]="fc.PhoneNumber.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.PhoneNumber.valid && (fc.PhoneNumber.touched)"
                                [class.is-invalid]="fc.PhoneNumber.invalid && (fc.PhoneNumber.touched)"
                                     required
                                     placeholder="رقم الهاتف"/>
                            </div>
                            <!-- Second Phone Number  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"> رقم هاتف ثاني</label>
                                <input class="form-control" id="validation01" type="text" formControlName="SecondPhoneNumber"
                                [tooltip]="fc.SecondPhoneNumber.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.SecondPhoneNumber.valid && (fc.SecondPhoneNumber.touched)"
                                [class.is-invalid]="fc.SecondPhoneNumber.invalid && (fc.SecondPhoneNumber.touched)"
                                     required
                                     placeholder="رقم هاتف ثاني"/>
                            </div>
                            <!-- Location Details  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> محل السكن</label>
                                <input class="form-control" id="validation01" type="text" formControlName="LocationDetails"
                                [tooltip]="fc.LocationDetails.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.LocationDetails.valid && (fc.LocationDetails.touched)"
                                [class.is-invalid]="fc.LocationDetails.invalid && (fc.LocationDetails.touched)"
                                     required
                                     placeholder="محل السكن"/>
                            </div>
                            <!-- Country Id  -->
                            <div class="col-lg-6 col-sm-12  mb-3">
                                <label for="validationCustom05"><span class="validation-required">*</span> اختر الدولة</label>
                                <ng-select  [selectOnTab]="true" formControlName="CountryId"
                                    class="form-control p-0" placeholder="اختر الدولة"
                                    id="validationCustom05">
                                    <ng-option *ngFor="let item of countries" [value]="item.id">{{item.countryName}}</ng-option>
                                </ng-select>
                            </div>
                            <!-- Religion Id  -->
                            <div class="col-lg-6 col-sm-12  mb-3">
                                <label for="validationCustom05"><span class="validation-required">*</span> اختر الديانة</label>
                                <ng-select  [selectOnTab]="true" formControlName="ReligionId"
                                    class="form-control p-0" placeholder="اختر الديانة"
                                    id="validationCustom05">
                                    <ng-option *ngFor="let item of religions" [value]="item.id">{{item.religionName}}</ng-option>
                                </ng-select>
                            </div>
                           
                              <!-- to insert GradeImage 
           <--   <div class="col-lg-6 my-4" style="padding: 1%;">
                <img  src="{{ GradeImageLogo }}" style="width: 60%; height: 220px;" class="image-style p-2" *ngIf="GradeImageLogo != null"/>
               <input type="file" accept="image/*" #file id="getfirstLogo"
                style="display: none" (change)="getLogoUrl($event, 1)" />
            <button type="button" onclick="document.getElementById('getfirstLogo').click()"
                class="btn  d-block"  style="width: 60%;">
                    ارفاق شهادة التخرج   
            </button>    
                        </div> -->
                              <!-- to insert BirthImage  -->
              <!-- <div class="col-lg-6 my-4" style="padding: 1%;">
                <img  src="{{ BirthImageLogo }}" style="width: 60%; height: 220px;" class="image-style p-2" *ngIf="BirthImageLogo != null"/>
               <input type="file" accept="image/*" #file id="getsecondLogo"
                style="display: none" (change)="getLogoUrl($event, 2)" />
            <button type="button" onclick="document.getElementById('getsecondLogo').click()"
                class="btn  d-block"  style="width: 60%;">
                    ارفاق شهادة الميلاد   
            </button>    
                        </div> -->
                              <!-- to insert PersonalImage  -->
              <!-- <div class="col-lg-6 my-4" style="padding: 1%;">
                <img  src="{{ PersonalImageLogo }}" style="width: 60%; height: 220px;" class="image-style p-2" *ngIf="PersonalImageLogo != null"/>
               <input type="file" accept="image/*" #file id="getthirdLogo"
                style="display: none" (change)="getLogoUrl($event, 3)" />
            <button type="button" onclick="document.getElementById('getthirdLogo').click()"
                class="btn  d-block"  style="width: 60%;">
                    ارفاق صورة شخصية   
            </button>    
                        </div>  -->
                       
                        </div>
                        <br>
                        <ng-template #elseBlock>
                            <button [disabled]="button" class="btn pull-right" type="submit">
                               حفظ
                            </button>
                            </ng-template>
                        <div *ngIf="update; else elseBlock">
                            <button class="btn pull-right" type="submit">
                                تعديل
                            </button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



